<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages>
        <controls>
          <add assembly="LLBLGenTest.Application" namespace="LLBLGenTest.Application" tagPrefix="sh"/>
        </controls>
      </pages>
    </system.web>
  <connectionStrings>
    <add name="PLT" connectionString="Data Source=.\SQLExpress;Initial Catalog=PremierLigTurkiye;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=20"/>
    <!--<add name="PLT" connectionString="Data Source=78.46.197.238;User=PremierLigTurkiye;Password=7HrFvJFbmMYG;Initial Catalog=PremierLigTurkiye;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=20"/>-->
  </connectionStrings>
</configuration>
